<ion-content>
	<div class="form-content">
		<div class="title"><img src="assets/Logo.png" alt="odc-interview-logo"></div>
		<form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)" class="form-signin">
			<div class="user-details">
				<div class="form-group">
					<label for="username">Username: </label>
					<input type="text" class="form-control" name="username" placeholder="Username" required ngModel
						#usernameInput="ngModel" required>
					<span class="help-block" *ngIf="usernameInput.invalid && usernameInput.touched">Entrer un username
						valide</span>
				</div>
				<div class="form-group">
					<label for="password">Mot de passe: </label>
					<input type="password" class="form-control" name="password" placeholder="Password" required ngModel
						#passwordInput="ngModel" />
					<span class="help-block" *ngIf="passwordInput.invalid && passwordInput.touched">Entrer un mots de
						passe valide.</span>
				</div>
				<div class="button">
					<input type="submit" value="Connecter" [disabled]="loginForm.invalid">
				</div>
				<div class="passf">
					<ion-button fill="clear" (click)="!isForgetpass ? isForgetpass = true : isForgetpass=false">
						Mot de passe oublié
					</ion-button>
				</div>

			</div>
			<div class="user-details forgetpassword" *ngIf="isForgetpass">
				<form action="" #resetForm="ngForm"  (ngSubmit)="onResetpassword(resetForm.value)">
				<div class="form-group">
					<label for="email">Email : </label>
					<input type="email" class="form-control" name="email" placeholder="email@gmail.com" required ngModel
						#emailInput="ngModel" />
					<span class="help-block" *ngIf="emailInput.invalid && emailInput.touched">Entrer email
						valide.</span>
				</div>
				<div class="button">
					<input type="submit" value="Réinitialiser" [disabled]="resetForm.invalid">
				</div>
			</form>
			</div>
		</form>
		<div></div>
	</div>
</ion-content>