.iorange,
.ivert,
.iviolet {
    width: 90px;
    height: 25px;
    padding: 0px;
    color: #FFF;
}

.iviolet {
    --background: #845EC2;

}

;

.iorange {
    background: #FF7900;

}

;

.ivert {
    background: #50BE87;

}
