<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
      <ion-col size="10">
      <ion-title><h2>Postulants</h2></ion-title>
      </ion-col>
      <ion-col size="2">
      <ion-buttons>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    </ion-row>
  </ion-grid>
  <p>Total <span>324</span></p>
  <p>Interview <span>24</span></p>
  <p>Non-Interview <span>300</span></p>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
