<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        <ion-col size="10">
          <ion-title>
            <h5>Postulants</h5>
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button>
              <ion-icon slot="icon-only" size="large" name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="postdetail">Total <span>224</span></p>
    <p class="postdetail">Interview <span>24</span></p>
    <p class="postdetail">Non-Interview <span>200</span></p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card postulant -->
  <ion-card *ngFor="let post of postulants">
    <ion-grid>
      <ion-row class="ion-align-items-center" >
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{post.prenom}} {{post.nom}}</ion-card-title>
            <ion-card-subtitle>{{post.participant}}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col size="2" class="ion-justify-content-center">
          <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button fill="outline" class="evaluation">Non Evaluer</ion-button>
        <ion-button class="interview" [routerLink]="['/postulant-details']">Interview</ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>
  
  <ion-button id="popover-button" class="absolute" color="secondary" fill=""><ion-icon name="funnel-outline"></ion-icon>
    Filtrer</ion-button>
  <ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item class="titre" [detail]="false">Filter par</ion-item>
          <ion-item [button]="true" [detail]="false"> Nom</ion-item>
          <ion-item [button]="true" [detail]="false"> Prenom</ion-item>
          <ion-item [button]="true" [detail]="false"> Points</ion-item>
          <ion-item [button]="true" [detail]="false"> Status</ion-item>
          <ion-item class="titre" [detail]="false">Ordonner par</ion-item>
          <ion-item [button]="true" [detail]="false"> Ascendant</ion-item>
          <ion-item [button]="true" [detail]="false"> Descendant</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>