<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="calendar" aria-hidden="true"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="postulant">
      <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label>Postulant</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jury">
      <ion-icon name="map" aria-hidden="true"></ion-icon>
      <ion-label>Jury</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>