<ng-container *ngIf="(juryState$ | async) as state" [ngSwitch]="state.appState">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-justify-content-between" *ngIf="!isSearchBarOpened">
          <ion-col size="10" class="ion-justify-content-start">
            <ion-title>
              <h5>Jurys</h5>
            </ion-title>
          </ion-col>
          <ion-col size="2">
            <ion-buttons>
              <ion-button *ngIf="!isSearchBarOpened" (click)="isSearchBarOpened=true">
                <ion-icon slot="icon-only" size="large" name="search"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="isSearchBarOpened">
          <ion-col>
            <form #searchForm="ngForm" (ngSubmit)="gotToPage(searchForm.value.keyword)">
              <ion-searchbar name="keyword" type="search" ngModel class="form-control" showCancelButton="true"
                (ionCancel)="isSearchBarOpened=false"></ion-searchbar>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <ion-item>Total {{state.appData.totalElements}}</ion-item>
  </ion-header>
  <ion-content>
    <!-- Card jury -->
    <ng-container *ngSwitchCase="'APP_LOADED'">
      <ion-card [ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}">
        <ion-grid>
          <ion-row class="ion-align-items-center" *ngFor="let jury of state.appData?.contenu ;let i = index">
            <ion-col size="2">
              <ion-avatar>
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
            </ion-col>
            <ion-col size="8">
              <ion-card-header>
                <ion-card-title>{{jury.prenom}} {{jury.nom}}</ion-card-title>
                <ion-card-subtitle>Status: {{jury.role.roleName}}<br>Postulant jugé: </ion-card-subtitle>
              </ion-card-header>
            </ion-col>
            <ion-col size="2" class="ion-justify-content-center">
              <ion-button fill="clear" (click)="postulantDetails(jury.username)">
                <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <!-- Fin Card jury -->
      <div class="pagination">
        <li class="page-item pointer" [ngClass]="0 == (currentPage$ | async) ? ' disabled' : ''">
          <a (click)="goToNextOrPreviousPage('backward','searchForm.value.keyword')"> &laquo;</a>
        </li>
        <li *ngFor="let number of [].constructor(state.appData?.totalPages); let i = index">
          <a [ngClass]="i == (currentPage$ | async) ? ' active' : ''" (click)="gotToPage('',i,10)">{{i+1}}</a>
        </li>
        <li class="page-item pointer"
          [ngClass]=" (state.appData?.totalPages - 1) == (currentPage$ | async) ? ' disabled' : ''">
          <a (click)="goToNextOrPreviousPage('forward','searchForm.value.keyword')">&raquo;</a>
        </li>
      </div>
    </ng-container>
  </ion-content>
</ng-container>