<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #updateProfileForm="ngForm" (ngSubmit)="onUpdateUser(updateProfileForm.value)" enctype="multipart/form-data">
    <input type="hidden" class="form-control" name="id" ngModel="{{ utilisateur?.id }}" required />
    <ion-grid>
      <ion-row class="ion-justify-content-center marge">
        <div class="form-group">
        <ion-avatar class="avtar">
          <label for="image">
            <img src="{{ userpicture }}{{ utilisateur?.id }}.png" />
          </label>
          <input id="image" style="visibility: hidden;" (change)="onProfilePictureSelected($event)" #fileToUpload
            type="file" class="form-control-file" name="file" placeholder="photo" accept="image/*"
            (click)="fileToUpload.click()" />
        </ion-avatar>
      </div>
      </ion-row>
    </ion-grid>
    <div class="container">
      <div class="user-details">
        <div class="form-group">
          <label for="nom">Nom: </label>
          <input value="Diallo" type="text" ngModel="{{ utilisateur?.nom }}" class="form-control" id="nom" name="nom" aria-describedby="nom"
            placeholder="Entrez votre nom" required>
        </div>
        <div class="form-group">
          <label for="prenom">Prenom: </label>
          <input value="Abdoulaye" type="text" id="prenom" name="prenom" ngModel="{{ utilisateur?.prenom }}"
            class="form-control" aria-describedby="prenom" placeholder="Entrez votre prenom" required>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input ngModel="{{ utilisateur?.username }}" type="text" class="form-control" name="username" id="username"
            placeholder="Username" disabled />
        </div>
        <div class="form-group">
          <label for="email">E-mail: </label>
          <input value="d.abdoulayead28@gmail.com" type="text" id="email" name="email"
            ngModel="{{ utilisateur?.email }}" class="form-control" placeholder="Entrez votre Email" required>
        </div>
        <div class="form-group">
          <label for="numero">Numero: </label>
          <input value="Numero" type="text" name="numero" id="numero" ngModel="{{ utilisateur?.numero}}"
            class="form-control" placeholder="Entrez votre numero" required>
        </div>
        <!-- <div class="form-group">
          <label for="birthd">Date de naissance: </label>
          <input value="2018-07-22" type="date" name="birthd" ngModel="{{ utilisateur?.dateNaissance }}" class="form-control" placeholder="Entrez votre date de naissance" required>
        </div> -->
        <div class="form-group">
          <label for="bio">Bio: </label>
          <textarea value="je suis .........................." name="bio" id="bio" cols="30" rows="10"
            ngModel="{{ utilisateur?.bio }}" class="form-control" placeholder="Entrez votre Bio" required></textarea>
        </div>
        <div class="button">
          <input type="submit" value="Enregistrer">
        </div>
      </div>
    </div>
  </form>

</ion-content>