<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button ion-button navPop>
        <ion-back-button text="" icon="arrow-back"></ion-back-button>
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
      </ion-button>
    </ion-buttons>
    <ion-title>Entretien</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--  -->
  <ion-card>
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <ion-card-header>
            <ion-card-title>{{postulant.prenom}} {{postulant.nom}}</ion-card-title>
            <ion-card-subtitle *ngIf="postulant.decisionFinal == null">Status: Postulant</ion-card-subtitle>
            <ion-card-subtitle *ngIf="postulant.decisionFinal != null">Status: Apprenant</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!--  -->
  <ion-header>
    <ion-toolbar class="critere">
      <ion-title>Critere d'evaluation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="note">
    <ion-row class="qtion">
      <ion-col class="status">Question</ion-col>
      <ion-col>
        <div class="container">
          <div class="rowline">
            <div class="col1">
              <circle-progress
              [percent]="critereNombre"
              [outerStrokeWidth]="10"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#50BE87'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="300"
              [radius]="50"
            ></circle-progress>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="note">
    <ion-row class="entete">
      <ion-col size="5">Question</ion-col>
      <ion-col size="3">Elimination</ion-col>
      <ion-col size="4">Note</ion-col>
    </ion-row>
    <ion-row class="contenu" *ngFor="let critere of criteres; let i=index">
      <ion-col size="5">{{critere.questionList[0].questionNom}}</ion-col>
      <ion-col *ngIf="critere.elimination ===true " size="3"><ion-button
          [ngClass]="(critere.elimination ===true ? ' yes' :' no')">Oui</ion-button></ion-col>
      <ion-col *ngIf="critere.elimination === false " size="3"><ion-button class="no">Non</ion-button></ion-col>
      <ion-col *ngIf="critere === false "><ion-button class="notez" expand="block" (click)="openModal(critere.id)">Notez</ion-button></ion-col>
      <ion-col *ngIf="critere === true "><div>{{note}}</div></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>