<ion-header>
    <ion-toolbar>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="2">
                  <ion-avatar>
                    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                </ion-col>
                <ion-col size="8">
                <ion-card-header>
                  <h6>Bonjour,<span> Ibrahim</span></h6>
                  <p>Juge de <span color="primary">l'entretien 1</span></p>
                </ion-card-header>
              </ion-col>
              <ion-col size="2" class="ion-justify-content-center">
                <ion-button fill="clear" size="small">
                    <ion-icon  size="small" name="notifications"></ion-icon>
                    <ion-badge class="notif-badge">5</ion-badge>
                </ion-button>
              </ion-col>
              </ion-row>
            </ion-grid> 
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header class="align-self-center">
          Card Header
        </ion-card-header>
        <ion-card-content>
          <p>Content goes here</p>
        </ion-card-content>
      </ion-card>

</ion-content>