ion-title{
  color: #FF7900;
}


ion-card-header {
   margin: 0 3px auto 0;
  padding: 0 2px 0 16px;
}
p{
  font-size: 15px;
}

ion-avatar{
  max-width: 3rem;
  height: 3rem;
}
.notif-badge{
  position: absolute;
  left: 5px;
  top: 1px;
  background:none;

}
.notif-badge.ios{
  position: absolute;
  left: 1px;
  top: 1px;
  background:none;

}
