<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Fermer</ion-button>
    </ion-buttons>
    <ion-title>Note</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">
    <div class="title">
      <h2 class="quest">{{questionView[0]?.questionNom}}</h2>
      <!-- <ion-grid class="mesgrid"> -->
        <ion-row>
          <ion-col size="12">
            <ion-card class="desc" color="primary">
              <div class="cardbody">
                <h6>Barem</h6>
                <p class="nbre">{{questionView[0]?.critere.barem}}</p>
              </div>
              <div class="cardicon">
                <ion-icon name="reader-outline"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card class="desc" color="primary">
              <div class="cardbody">
                <h6>Elimination</h6>
                <p class="nbre" *ngIf="questionView[0]?.critere.elimination==true">Oui</p>
                <p class="nbre" *ngIf="questionView[0]?.critere.elimination==false">Non</p>
              </div>
              <div class="cardicon">
                <ion-icon name="toggle-outline"></ion-icon>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      <!-- </ion-grid> -->
      <!-- <img src="assets/note.gif" alt="odc-interview-logo"> -->
    </div>
    <form #AddNote="ngForm" (ngSubmit)="ajouterNote()">
      <div class="user-details">
        <div class="form-group">
          <label for="point">Note: </label>
          <input type="number" id="point" [(ngModel)]="note.point" class="form-control" name="point" placeholder="Donner une note" required>
        </div>
        <div class="form-group">
          <label for="commentaire">Commentaire: </label>
          <textarea id="Commentaire" class="form-control" [(ngModel)]="note.commentaire" name="commentaire" placeholder="Commenter la note du postulant"></textarea>
        </div>
      </div>
    </form>
    <div></div>
  </div>
</ion-content>