<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="container">
    <div class="title"><img src="assets/Logo.png" alt="odc-interview-logo"></div>
    <form method="post">
      <div class="user-details">
        <div class="input-box">
          <label for="email">Note: </label>
          <input type="text" id="pseudo" name="email" placeholder="Entrez votre Email" required>
        </div>
        <div class="input-box">
          <label for="Commentaire">Commentaire: </label>
          <textarea id="story" name="Commentaire"></textarea>
        </div>
      </div>
    </form>
    <div></div>
  </div>
</ion-content>